.app {
    height: 100vh;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 400px;
        }

        .icons {
            margin-right: 100px;
            font-size: 30px;
            color: #8a8a8a;

            i {
                &:hover {
                    color: #333;
                    cursor: pointer;
                }
            }
        }
    }

    main {
        display: flex;
        height: calc(100% - 163px);

        textarea {
            padding: 15px;
            background: linear-gradient(90deg, #f9f9f9 0%, #ececec 100%);
            width: 40%;
            border: 0;
            outline: none;
            margin-right: 15px;
            resize: none;
        }

        markdown {
            width: 60%;
            overflow-x: auto;
        }

        img {
            max-width: 100%;
        }
    }
}

@media print {
    #Header,
    #Footer {
        display: none !important;
    }

    
}
